
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

    <h2>Create an Account</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </p>

         <p>
            {{ form.organisation.label_tag }}
            {{ form.organisation }}
            {{ form.organisation.errors }}
        </p>

        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </p>

        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </p>

        <p>
            {{ form.confirm_password.label_tag }}
            {{ form.confirm_password }}
            {{ form.confirm_password.errors }}
        </p>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a href="{% url 'Accounts:login' %}">Login</a>
    </p>

</body>
</html>